<script id='accordionTemplate' type='x-jquery-tmpl'>
	<div id='pmdialog'>
		<table id='sTable' ></table>
	</div>
</script>

<script id='searchTemplate' type='x-jquery-tmpl'>
	<div id='pmdialogSearch'>
		<input dir='ltr' type='search' id='filterInput' onchange='PM.closeJokerSentenceForm();PM.search(true,false)' />
		<button class='ui-button ui-widget' title='Search' onclick='PM.closeJokerSentenceForm();PM.search(true,false)'><span class='ui-icon ui-icon-search'></span></button>
		<button class='ui-button ui-widget' title='Search on db' onclick='PM.closeJokerSentenceForm();PM.search(true,true)'><span class='ui-icon ui-icon-search'></span><span class='ui-icon ui-icon-document'></span></button>
		<button class='ui-button ui-widget' title='Joker' onclick='PM.openJokerSentenceForm()'><span class='ui-icon ui-icon-pencil'></span></button>
		<div id="dialog_jokerSentenceArea" ></div>
		<p class='status'>
			<span id='status' class='status'> </span>
			<span id='warning' class='warning'> </span>
		</p>
		<table id='sTable' ></table>
	</div>
</script>


<script id='dialogTemplate' type='x-jquery-tmpl'>
<div id='dialog'>
	<input dir='ltr' type='text' id='filterInput' onKeyUp='PM.closeJokerSentenceForm();PM.search(false)'/>
	<img title='Search' src='${ContextPath}images/document_find.png' onclick='PM.closeJokerSentenceForm();PM.search(true)' />
	<img title='Joker' src='${ContextPath}images/document_edit.png' onclick='PM.openJokerSentenceForm()' />
	<span id='status' class='status'> </span>
    <div id="dialog_jokerSentenceArea" />
	<table id='sTable' />
</div>
</script>

<script id='sentenceTemplate' type='x-jquery-tmpl'>
<tr class='sentence' id='${Id}'>
	<td>${Title}<br>
		<button class='ui-button ui-widget' title='Add' onclick='PM.addSentenceClick(this.parentNode.parentNode,true);'><span class='ui-icon ui-icon-circle-plus'></span></button>
		<button class='ui-button ui-widget' title='Save' onclick='PM.addSentenceClick(this.parentNode.parentNode,false)'><span class='ui-icon ui-icon-circle-check'></span></button>
	</td>
	<td>
		<input type='checkbox' onclick='PM.onSentenceClick(this)'>
		<br>
	</td>
	<td>
		<table class='optionTable'>
			<tr class='option' id='${Id}'>
			{{each(i, option) Options}}	
				<td>
					<table class='phraseTable' id='${option.Id}'>
						<tr>
							<td class='optionTitle'>${option.Title}</td>
						</tr>
						<tr>
							<td class='${option.Class}' style='${option.Rgn}' id='${option.Id}'>${option.Text}</td>
						</tr>
						{{each(i, phrase) option.Phrases}}
						<tr class='phraseRow' style='${phrase.Rgn}'>
							<td id='${phrase.Id}' class='${phrase.Class}' style='${phrase.Rgn}' onClick='PM.onPhraseClick(this, false)'>${phrase.Text}</td>
						</tr>
						{{/each}}
					</table>
				</td>
			{{/each}}
			</tr>
		</table>
	</td>
	<td>
		
	</td>
</tr>
</script>

<script id='phraseOptionTemplate' type='x-jquery-tmpl'>
<tr id='phraseOptionId' index=${Index}>
	<td>
		<div class='scrollable'>
			<table class='phraseOptionTable'>
			{{each(i, phrase) Phrases}}
				<tr style='${phrase.Rgn}'>
					<td id='${phrase.Id}' class='subPhrase'  onClick='PM.onSubPhraseClick(this,${phrase.ItemNO})'>${phrase.Text}</td>
				</tr>
			{{/each}}
			</table>
		</div>
	</td>
</tr>
</script>

<script id='jokerSentenceFormTemplate' type='x-jquery-tmpl'>
<div id='jokerSentenceForm'>
  <form>
    <fieldset>
      <legend>Joker-Satz - Sentenza Joker</legend>
      <p id='jokerSentenceForm_validateTips' class='validateTips'>Alle Sprachen erforderlich.</p>
      <div class="jokerSentenceForm_input">
        <label for='jokerSentenceForm_de'>de</label>
        <input id='jokerSentenceForm_de' type='text' onkeyup='PM.validateCharsetISO8859(this);' />
      </div>
			<div class="jokerSentenceForm_input">
        <label for='jokerSentenceForm_it'>it</label>
        <input id='jokerSentenceForm_it' type='text' onkeyup='PM.validateCharsetISO8859(this);'/>
      </div>
			<div class="jokerSentenceForm_input">
        <label for='jokerSentenceForm_en'>en</label>
        <input id='jokerSentenceForm_en' type='text' onkeyup='PM.validateCharsetISO8859(this);'/>
      </div>
      <div class="jokerSentenceForm_input">
        <label for='jokerSentenceForm_fr'>fr</label>
        <input id='jokerSentenceForm_fr' type='text' onkeyup='PM.validateCharsetISO8859(this);'/>
      </div>
      <div class="saveExit">
        <button class='ui-button ui-widget' onclick='PM.saveJokerSentence();'><span class='ui-icon ui-icon-circle-plus'></span></button>
        <button class='ui-button ui-widget' onclick='PM.closeJokerSentenceForm()'><span class='ui-icon ui-icon-circle-close'></span></button>
      </div>
    </fieldset>
  </form>
</div>
</script>
